.vscode/**
.vscode-test/**
test/**
.gitignore
jsconfig.json
tsconfig.json
vsc-extension-quickstart.md
.eslintrc.json
node_modules/
esbuild.js
src/
*.vsix
react-big-table/**
!react-big-table/build/
!react-big-table/build/**
